<div class="todoBox">
<h3>Project To Do List </h3>
<ul>

	<li>
		CRUD
		<ul>
			
            <li>
               	entender o coffee
            </li>
			<li>
				filtro nas listagens
			</li>

		</ul>
	</li>

	<li>
		Relatórios
		<ul>
			<li>
				relatório de quantidades quadrinhos faltando embalagem (numero e %), gráfico
			</li>
		</ul>

	</li>
	<li>
		Layout
		<ul>
			<li>
				Definir cores
			</li>
			<li>
				definir menu (lateral ou superior)
			</li>
			<li>
				footer?
			</li>
			<li>
				páginas de listagem
			</li>
		</ul>
	</li>

</ul>
</div>
<div class="doneBox">
<h3>DONE</h3ge>
<ul class='doneList'>

	<li>
		CRUD
		<ul>
			<li>
            	jquery
            </li>
			<li>
				select combo em todas listas
			</li>
			<li>
				visualizar todos os dados em string na listagem e visualizacao do item
			</li>
			<li>
				altura e largura devem ser obrigatórias
			</li>
			<li>
				paginador
			</li>
			<li>
				Campo de "precisa de concerto" nas edicões
			</li>
		</ul>
	</li>
</ul>
</div>
